<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Title</key>
			<string>About</string>
			<key>allValues</key>
			<array>
				<string>This is the demo app of the AppsoluteCalendar framework written by Philipp Börckel, Appsoute GmbH, all rights reserved.</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Reset default settings</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>Theme</string>
			<key>selectedValue</key>
			<integer>1</integer>
			<key>allValues</key>
			<array>
				<string>dark</string>
				<string>light</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Colors</string>
			<key>selectedValue</key>
			<integer>0</integer>
			<key>allValues</key>
			<array>
				<string>Orange</string>
				<string>Blue</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Red</string>
				<string>Black</string>
				<string>Gray</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Font</string>
			<key>selectedValue</key>
			<integer>0</integer>
			<key>allValues</key>
			<array>
				<string>Avenir</string>
				<string>Helvetica</string>
				<string>Baskerville</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>First day of the week</string>
			<key>selectedValue</key>
			<integer>0</integer>
			<key>allValues</key>
			<array>
				<string>SUN</string>
				<string>MON</string>
				<string>TUE</string>
				<string>WED</string>
				<string>THU</string>
				<string>FRI</string>
				<string>SAT</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Data server</string>
			<key>selectedValue</key>
			<integer>0</integer>
			<key>allValues</key>
			<array>
				<string>CalDav BAIKAL</string>
				<string>CalDav FRUUX</string>
				<string>CalDav NEXTCLOUD</string>
				<string>CalDav OWNCLOUD</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>Month name color</string>
			<key>selectedValue</key>
			<integer>0</integer>
			<key>allValues</key>
			<array>
				<string>Orange</string>
				<string>Red</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Blue</string>
				<string>Gray</string>
				<string>Black</string>
				<string>LightGray</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Month separator color</string>
			<key>selectedValue</key>
			<integer>6</integer>
			<key>allValues</key>
			<array>
				<string>Orange</string>
				<string>Red</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Blue</string>
				<string>Gray</string>
				<string>Black</string>
				<string>White</string>
				<string>LightGray</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Hour text color</string>
			<key>selectedValue</key>
			<integer>6</integer>
			<key>allValues</key>
			<array>
				<string>Orange</string>
				<string>Red</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Blue</string>
				<string>Gray</string>
				<string>Black</string>
				<string>White</string>
				<string>LightGray</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Hour separator color</string>
			<key>selectedValue</key>
			<integer>6</integer>
			<key>allValues</key>
			<array>
				<string>Orange</string>
				<string>Red</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Blue</string>
				<string>Gray</string>
				<string>Black</string>
				<string>White</string>
				<string>LightGray</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Calendar font color</string>
			<key>selectedValue</key>
			<integer>7</integer>
			<key>allValues</key>
			<array>
				<string>Orange</string>
				<string>Blue</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Red</string>
				<string>Gray</string>
				<string>Black</string>
				<string>White</string>
				<string>LightGray</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Calendar tint color</string>
			<key>selectedValue</key>
			<integer>0</integer>
			<key>allValues</key>
			<array>
				<string>Orange</string>
				<string>Red</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Blue</string>
				<string>Gray</string>
				<string>Black</string>
				<string>White</string>
				<string>LightGray</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Calendar event color</string>
			<key>selectedValue</key>
			<integer>6</integer>
			<key>allValues</key>
			<array>
				<string>Orange</string>
				<string>Red</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Blue</string>
				<string>Gray</string>
				<string>Black</string>
				<string>White</string>
				<string>LightGray</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Calendar button tint color</string>
			<key>selectedValue</key>
			<integer>0</integer>
			<key>allValues</key>
			<array>
				<string>Orange</string>
				<string>Red</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Blue</string>
				<string>Gray</string>
				<string>Black</string>
				<string>White</string>
				<string>LightGray</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Current day circle color</string>
			<key>selectedValue</key>
			<integer>0</integer>
			<key>allValues</key>
			<array>
				<string>Orange</string>
				<string>Red</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Blue</string>
				<string>Gray</string>
				<string>Black</string>
				<string>White</string>
				<string>LightGray</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Current day font color</string>
			<key>selectedValue</key>
			<integer>8</integer>
			<key>allValues</key>
			<array>
				<string>Orange</string>
				<string>Red</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Blue</string>
				<string>Gray</string>
				<string>Black</string>
				<string>White</string>
				<string>LightGray</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Overall background color</string>
			<key>selectedValue</key>
			<integer>8</integer>
			<key>allValues</key>
			<array>
				<string>Orange</string>
				<string>Red</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Blue</string>
				<string>Gray</string>
				<string>Black</string>
				<string>White</string>
				<string>LightGray</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Today bar color</string>
			<key>selectedValue</key>
			<integer>9</integer>
			<key>allValues</key>
			<array>
				<string>Orange</string>
				<string>Red</string>
				<string>Green</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Blue</string>
				<string>Gray</string>
				<string>Black</string>
				<string>White</string>
				<string>LightGray</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>Select league</string>
			<key>selectedValue</key>
			<integer>0</integer>
			<key>allValues</key>
			<array>
				<string>Bundes Liga</string>
				<string>Champions League</string>
				<string>Serie A</string>
				<string>Ligue 1</string>
				<string>Premier League</string>
				<string>Liga BBVA</string>
				<string>Eredivisie</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>Notification refresh delai</string>
			<key>selectedValue</key>
			<integer>5</integer>
		</dict>
	</array>
</array>
</plist>
